<!-- Alejandro Manrique, 301230671, 06/15/2023 -->
<!DOCTYPE html>
<html>
<head>
    <title>About Me - Portfolio</title>
    <%- include('partials/styles') %>
</head>
<body>
    <%- include('partials/navbar') %>
    <div class="container">
        <h1>About Me</h1>
        <img class="about_me" src="/images/me.jpeg" alt="Alejandro">
        <p>Hi there, I'm  an international student of software engineering technician<br>
            I love to code and watch Youtube videos, also I love Pokemon and lofi music.</p>
        <a href="pdf/Resume.pdf" class="btn btn-primary">View My Resume</a>
    </div><br>
    <%- include('partials/footer') %>
</body>

</html>
