<!-- Alejandro Manrique, 301230671, 06/15/2023 -->
<!DOCTYPE html>
<html>
<head>
    <title>Services - Portfolio</title>
    <%- include('partials/styles') %>
</head>
<body>
    <%- include('partials/navbar') %>    
    <div class="container">
        <h1>My Services</h1>
        <ul>
            <li>General Programming <img class="services_img" src="/images/general.jpg" alt="Programming" ></li>
            <li>Web Development <img class="services_img" src="/images/web.jpg" alt="Programming" ></li>
            <li>Mobile Apps <img class="services_img" src="/images/mobile.jpg" alt="Programming" > </li>
            <!-- Add more as needed -->
        </ul>
    </div><br>
    <%- include('partials/footer') %>
</body>

</html>
